*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.active:active{
    background-color: pink;
    padding: 1rem;
}

input:checked + label{
    background-color: pink;
    padding: .6rem
}

input:default{
    background-color: pink;
    padding: .6rem;
}

:dir(rtl){
    background-color: pink;
    padding: .6rem
}

input:disabled{
    background-color: pink;
    padding: .6rem
}

.empty:empty{
    background-color: pink;
    padding: .6rem;
    width: 1rem;
    height: 1rem;
}

input:enabled{
    background-color: blueviolet;
    padding: .6rem;
}

@page :first {
    margin-left: 50%;
    margin-top: 50%;
  }

.firts{
     page-break-after: always;
}

.first_child:first-child{
    background-color: pink;
    padding: .6rem;
}

.first_of_type:first-of-type{
    background-color: pink;
    padding: .6rem;
}

.fullscreen:fullscreen{
    background-color: pink;
    padding: .6rem;
}

.focus:focus{
    background-color: pink;
    padding: .6rem;
}

.hover:hover{
    background-color: pink;
    padding: .6rem;
}

.indeterminate:indeterminate + label{
    background-color: violet;
    padding: .6rem;
}

#inRange:in-range{
    background-color: green;
    padding: .6rem;
}

#email_input:invalid{
    background-color: red;
    padding: .6rem;
}

:lang(en) > q { quotes: '\201C' '\201D' '\2018' '\2019'; }
:lang(fr) > q { quotes: '« ' ' »'; }
:lang(de) > q { quotes: '»' '«' '\2039' '\203A'; }  

.last_child:last-child{
    background-color: violet;
    padding: .6rem;
}

.last_of_type:last-of-type{
    background-color: violet;
    padding: .6rem;
}

@page :left {
    margin: 2in 3in;
  }

.link:link{
    background-color: aqua;
    padding: .6rem;
}

.not:not(.notnot){
    background-color: violet;
    padding: .6rem;
}

.nth:nth-child(3){
    background-color: violet;
    padding: .6rem;
}

.nth_last:nth-last-child(1){
    background-color: violet;
    padding: .6rem;
}

.nth_last_type:nth-last-of-type(2){
    background-color: blueviolet;
    padding: .6rem;
}

.nth_type:nth-of-type(2){
    background-color: blueviolet;
    padding: .6rem;
}